canvas {
    flex: 1;
  }
  
  #gfx-main {
    flex: 1;
    width: 100%;
    height: calc(100vh - 60px); /* Full viewport height minus space for buttons */
    position: relative;
  }
  
  #settings {
    background-color: #1a1a1a;
    margin-bottom: 15px;
  }